bin/Release/SM64DSe.*
bin/Debug/
obj/


# User-specific files
*.suo
*.user
*.sln.docstates


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
**/.DS_Store