<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SM64DSe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SM64DSe.Properties.Settings>
            <setting name="AutoUpdateODB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberLastUsedModelImportationSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableTextureSizeWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberMaterialCollisionTypeAssignments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSimpleModelAndCollisionMapImporters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableASMHackingCompilationAndGeneration" serializeAs="String">
                <value>False</value>
            </setting>
        </SM64DSe.Properties.Settings>
    </userSettings>
</configuration>